.calculator{
  display: block;
  background: #466368;
  font-weight: 500;
  height: 330px;
  margin: 40px;
  padding: 10px;
  width: 270px;
  border: 1px solid black;
}
input{
  font: 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}
button{
  display: inline-block;
  height: 30px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.button_space{
  display: inline-block;

  height: 30px;
  width: 85px;
  margin-bottom: 5px;
}
h3{
  margin-bottom: 10px;
  font: 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
